*{
 	padding: 0;
 	margin: 0;
 }
.portfolio-sections{
    height: 400px;
    width: 100%;
    border: 2px solid DarkCyan;
   
    background-color: powderblue ;
}
.navigation-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
  }
    
.portfolio-sections h1{
    margin-top: 50px;

}
html{
	scroll-behavior: smooth;
}
.main-container{
    position: relative;
    margin-top: 80px;
    top:8 0px;
}

.brand{
	font-size: 30px;
	font-family: Arial Black;
	font-variant: small-caps;
	color:bright green;

}
.navmenu{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-left: 15px;
}
.navmenu:hover{
	text-decoration: underline 3px solid black;
	text-underline-offset: 6px;

}


#home{
   height: 370px;
   background-image: url("shri.jpg");
   background-repeat: no-repeat;
   background-size:30%;
   background-position:98% 60%;
   border: none;
}

#home-info{
	/*position: absolute;
	top: 20 px;
	width: 400px;
	height: 200px;
	font-size: 28px;
    padding-bottom: 40px;
	margin-left: 60px;


*/
    font-size: 28px;
    margin-left: 60px;
    margin-bottom: 30px;
}


.info{
	font-weight: bolder;
	color: navy;
}

.designation{
    color: darkslategray;
    font-size: 30px;
    font-weight: bolder;
}

.myname{
    font-size: 30px;
    padding-top: 500px;
}
.abt{

}

.rsmbtn{
	height: 40px;
	width: 100px;
	border: none;
	margin-top: 5px;
    margin-left: 60px;
    margin-bottom: 40px;
	border-radius: 48px;
	font-size: 20px;
  font-weight: bolder;
  background-color: Teal;
  color: white;
  transition-duration: 1s;
}

.rsmbtn:hover{
    background-color: white;
    color: royalblue;
    border: 3px solid royalblue;
   
    transform: scale(1.1);
}

.skills-section{
    padding-top: 60px;
    padding-left: 80px;
    height: 500px;
    width: 100%;
}

.skills-lang
{ 
    background-color: Azure;
    align-content: center;
    text-align: center;
    width: 90%;
/*    border: 2px solid black;*/

}

.tilt-in-top-2 {
    -webkit-animation: tilt-in-top-2 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-top-2 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-top-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
            transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
            transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}


.tilt-in-right-2 {
    -webkit-animation: tilt-in-right-2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-right-2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-14 18:26:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-right-2
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-right-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-right-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(300px) skewX(-30deg);
            transform: rotateX(30deg) translateX(300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.tilt-in-left-2 {
    -webkit-animation: tilt-in-left-2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-left-2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-14 18:25:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-left-2
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-left-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
            transform: rotateX(30deg) translateX(-300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-left-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
            transform: rotateX(30deg) translateX(-300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}



.scale-in-hor-left {
    -webkit-animation: scale-in-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-hor-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.tracking-in-expand-fwd-top {
    -webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


.scale-in-hor-right {
    -webkit-animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

   .pro{
    padding-top:4px;
    font-size: 50px;

    -webkit-text-stroke: 1px white;
   }

   .pro1{
    padding-top:4px;
    font-size: 50px;

   }
 .projects-sections{
    background-color:LightCyan ;
    height: 600px;

 }

 .card{
    height: 380px;

 }
  .card-text{
    height: 50px;
 }

 .card-deck{
    padding-top: 30px;
 }

.card-body{
    height: 100px;
}



.about-section{
    height: 500px;
    width: 100%;
    background-color:LightCyan ;
    border: none;
}
.aboutmain{
    height: 500px;
    width: 100%;
    display: flex;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}
.aboutmain div{
    height: 500px;
    width: 50%;
}
.profile{
    margin-top: 90px;
    margin-left: 100px;
    animation-duration: 5s;
    animation-name:zoom ;
    animation-iteration-count: 1;
    height: 350px;
    box-shadow: 5px 5px lightslategray;

}
.link{
    margin-left: 250px;
}

.insta{
    margin-left: 40px;
}

.fb{
    margin-left: 40px;
}
@keyframes zoom {
    100%{
        transform: scale(1.2);
        border-radius: 40px;
    }
    
}
.heading{
    font-size: arial black;
    text-align: center;
    margin: 30px 0px;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
    font-weight: bolder;

}
.careerobj{
    padding: 30px;
}
.careerinfo{
    text-align: justify;
    line-height: 40px;
    text-indent: 100px; 
}
.siph{
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    -webkit-text-stroke : 1.5px gray;
}

.tbdata{
    margin-left: 5%;
    text-align: center;
    padding-top: 0px;
     line-height: 30px;

 }
 .skill-spacing
 {
    margin: 20px;
 }
 